
body {
  background-color: ghostwhite;
}

h1 {
  color: cadetblue;
  text-align: revert;
}

p {
  color: black;
  text-align: center;
  font-family: shape-inside;
  font-size: 20px;
}

.element {   
  border-style: solid;
  background-color:  #f1c40f; 
  color: black;
  width: 500px; 
  height: 500px;
  margin: 30px auto;
  text-align: justify;
  shape-inside: polygon(250px 0, 350px 170px, 500px 180px, 380px 320px, 450px 500px, 250px 420px, 50px 500px, 120px 320px, 0px 180px, 150px 170px );
  shape-padding: 10px;
  transition: all 3s ease; 
  -webkit-clip-path: polygon(250px 0, 350px 170px, 500px 180px, 380px 320px, 450px 500px, 250px 420px, 50px 500px, 120px 320px, 0px 180px, 150px 170px );
} 




/*
#.lead img {
  width: 100px;
  border-bottom-right-radius: blue;
}

